services:
  traefik:
    container_name: traefik
    image: traefik:v3.7.5
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    environment:
      - TZ=${TIMEZONE:?}
    {%- if letsencrypt_challenge == 'dns' %}
    env_file:
      - .envs/letsencrypt.env
    {%- endif %}
    volumes:
      - type: bind
        source: ./traefik.yaml
        target: /etc/traefik/traefik.yaml
        read_only: true
        bind:
          create_host_path: false
      - type: bind
        source: ./config/traefik
        target: /config
        read_only: true
        bind:
          create_host_path: false
      - type: bind
        source: ${TRAEFIK_ACME_PATH:?}
        target: /acme/
        bind:
          create_host_path: false
      - type: bind
        source: ${TRAEFIK_LOGS_PATH:?}
        target: /logs
        bind:
          create_host_path: false
      - type: bind
        source: /var/run/docker.sock
        target: /var/run/docker.sock
        read_only: true
        bind:
          create_host_path: false

{#-
  Include compose files as is to be able to lint them
  Strip their first line (services:)
-#}
{%- macro load_compose_file(filename) -%}
{%- set path = "./template/" ~ filename -%}
{%- set content %}
{%- include path -%}
{%- endset %}
{{ content.split('\n', 1)[1] }}
{%- endmacro -%}

{%- if use_pihole %}
{{ load_compose_file("compose.pihole.yaml") }}
{%- endif %}

{%- if use_nextcloud %}
{{ load_compose_file("compose.nextcloud.yaml") }}
{%- endif %}

{%- if use_forgejo %}
{{ load_compose_file("compose.forgejo.yaml") }}
{%- endif %}

{%- if use_umami %}
{{ load_compose_file("compose.umami.yaml") }}
{%- endif %}

{%- if use_changedetection %}
{{ load_compose_file("compose.changedetection.yaml") }}
{%- endif %}

{%- if use_wireguard %}
{{ load_compose_file("compose.wireguard.yaml") }}
{%- endif %}

{%- if needs_db %}
{{ load_compose_file("compose.postgres.yaml") }}
{%- endif %}

networks:
  default:
    name: traefiknet
