#!/bin/bash
set -euo pipefail

run_stack() {
    docker compose up -d "$1" 2>&1 || true
}

# consider that any missing path can be reported first
# we are getting non-deterministic results when running docker compose up
# see: https://github.com/docker/compose/issues/13712
missing_paths() {
    run_result="$(run_stack "$1")"
    # echo "$run_result"

    if printf '%s\n' "$run_result" | grep --quiet "no such service"; then
        echo "$run_result"
        exit 1
    fi

    if printf '%s\n' "$run_result" | grep --quiet "bind source path does not exist:.*/volumes/acme"; then
        echo "creating ACME directory"
        mkdir -p volumes/acme
    fi

    if printf '%s\n' "$run_result" | grep --quiet "bind source path does not exist:.*/volumes/logs"; then
        echo "creating logs directory"
        mkdir -p volumes/logs
    fi

    if printf '%s\n' "$run_result" | grep --quiet "bind source path does not exist:.*/volumes/pihole"; then
        echo "creating pihole directory"
        mkdir -p volumes/pihole
    fi

    if printf '%s\n' "$run_result" | grep --quiet "bind source path does not exist:.*/volumes/postgres"; then
        echo "creating postgres directory"
        mkdir -p volumes/postgres
    fi

    if printf '%s\n' "$run_result" | grep --quiet "bind source path does not exist:.*\.secrets/db_root_password"; then
        echo "creating db-root-password secret file"
        mkdir -p .secrets
        echo "testpassword" > .secrets/db_root_password
    fi

    if printf '%s\n' "$run_result" | grep --quiet "bind source path does not exist:.*/volumes/nextcloud"; then
        echo "creating nextcloud directory"
        mkdir -p volumes/nextcloud
    fi

    if printf '%s\n' "$run_result" | grep --quiet "bind source path does not exist:.*/volumes/forgejo"; then
        echo "creating forgejo directory"
        mkdir -p volumes/forgejo
    fi
}

echo "checking missing source paths..."

missing_paths traefik
missing_paths traefik

{%- if use_pihole %}
missing_paths pihole
{%- endif %}

{%- if needs_db %}
missing_paths db
missing_paths db
{%- endif %}

{%- if use_nextcloud %}
missing_paths nextcloud
{%- endif %}

{%- if use_forgejo %}
missing_paths forgejo
{%- endif %}

echo "checking for running containers (there should be none)..."
docker compose ps
docker compose ps --format json | jq --exit-status --slurp "length == 0"

# remove any containers that were created
docker compose down
