#!/bin/bash
set -euo pipefail

validate_config() {
    docker compose config --quiet 2>&1 || true
}

# consider that any missing variable can be reported first
# we are getting non-deterministic results when running docker compose config --quiet
# see: https://github.com/docker/compose/issues/13712
check_config() {
    validate_result="$(validate_config)"
    # echo $validate_result
    if printf '%s\n' "$validate_result" | grep --quiet "required variable TIMEZONE is missing a value"; then
        echo "setting timezone"
        sed -i.bak "s|^TIMEZONE=$|TIMEZONE=America/Toronto|" .env
        # cat .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable TRAEFIK_ACME_PATH is missing a value"; then
        echo "setting acme path"
        sed -i.bak "s|^TRAEFIK_ACME_PATH=$|TRAEFIK_ACME_PATH=./volumes/acme|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable TRAEFIK_LOGS_PATH is missing a value"; then
        echo "setting logs path"
        sed -i.bak "s|^TRAEFIK_LOGS_PATH=$|TRAEFIK_LOGS_PATH=./volumes/logs|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable PIHOLE_VOLUME_PATH is missing a value"; then
        echo "setting pihole volume path"
        sed -i.bak "s|^PIHOLE_VOLUME_PATH=$|PIHOLE_VOLUME_PATH=./volumes/pihole|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable PIHOLE_DOMAIN is missing a value"; then
        echo "setting pihole domain"
        sed -i.bak "s|^PIHOLE_DOMAIN=$|PIHOLE_DOMAIN=pihole.example.dev|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable POSTGRESDB_VOLUME_PATH is missing a value"; then
        echo "setting postgres volume path"
        sed -i.bak "s|^POSTGRESDB_VOLUME_PATH=$|POSTGRESDB_VOLUME_PATH=./volumes/postgres|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable NEXTCLOUD_VOLUME_PATH is missing a value"; then
        echo "setting nextcloud volume path"
        sed -i.bak "s|^NEXTCLOUD_VOLUME_PATH=$|NEXTCLOUD_VOLUME_PATH=./volumes/nextcloud|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable NEXTCLOUD_DOMAIN is missing a value"; then
        echo "setting nextcloud domain"
        sed -i.bak "s|^NEXTCLOUD_DOMAIN=$|NEXTCLOUD_DOMAIN=nextcloud.example.dev|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable NEXTCLOUD_TRUSTED_PROXIES is missing a value"; then
        echo "setting nextcloud trusted proxies"
        sed -i.bak "s|^NEXTCLOUD_TRUSTED_PROXIES=$|NEXTCLOUD_TRUSTED_PROXIES=172.18.0.0/16|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable VALKEY_VOLUME_PATH is missing a value"; then
        echo "setting valkey volume path"
        sed -i.bak "s|^VALKEY_VOLUME_PATH=$|VALKEY_VOLUME_PATH=./volumes/valkey|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable FORGEJO_VOLUME_PATH is missing a value"; then
        echo "setting forgejo volume path"
        sed -i.bak "s|^FORGEJO_VOLUME_PATH=$|FORGEJO_VOLUME_PATH=./volumes/forgejo|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable FORGEJO_SSH_PORT is missing a value"; then
        echo "setting forgejo ssh port"
        sed -i.bak "s|^FORGEJO_SSH_PORT=$|FORGEJO_SSH_PORT=2222|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable FORGEJO_DOMAIN is missing a value"; then
        echo "setting forgejo domain"
        sed -i.bak "s|^FORGEJO_DOMAIN=$|FORGEJO_DOMAIN=forgejo.example.dev|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable UMAMI_DB_USER is missing a value"; then
        echo "setting umami db user"
        sed -i.bak "s|^UMAMI_DB_USER=$|UMAMI_DB_USER=umami|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable UMAMI_DB_PASSWORD is missing a value"; then
        echo "setting umami db password"
        sed -i.bak "s|^UMAMI_DB_PASSWORD=$|UMAMI_DB_PASSWORD=umami|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable UMAMI_DB_NAME is missing a value"; then
        echo "setting umami db name"
        sed -i.bak "s|^UMAMI_DB_NAME=$|UMAMI_DB_NAME=umami|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable UMAMI_APP_SECRET is missing a value"; then
        echo "setting umami app secret"
        sed -i.bak "s|^UMAMI_APP_SECRET=$|UMAMI_APP_SECRET=testsecret|" .env
    fi

    if printf '%s\n' "$validate_result" | grep --quiet "required variable UMAMI_DOMAIN is missing a value"; then
        echo "setting umami domain"
        sed -i.bak "s|^UMAMI_DOMAIN=$|UMAMI_DOMAIN=umami.example.dev|" .env
    fi

}

# Check that all variables are required
echo "checking that all variables are required..."
docker compose config --variables --format json | jq --exit-status '[.[] | .Required] | all'

echo "setting missing env variables..."
check_config
check_config
check_config

{%- if use_pihole %}
echo "pihole is enabled, setting missing pihole env variables..."
check_config
check_config
{%- endif %}

{%- if needs_db %}
echo "db is enabled, setting missing db env variables..."
check_config
check_config
{%- endif %}

{%- if use_nextcloud %}
echo "nextcloud is enabled, setting missing nextcloud env variables..."
check_config
check_config
check_config
check_config
{%- endif %}

{%- if use_forgejo %}
echo "forgejo is enabled, setting missing forgejo env variables..."
check_config
check_config
check_config
{%- endif %}

{%- if use_umami %}
echo "umami is enabled, setting missing umami env variables..."
check_config
check_config
check_config
check_config
check_config
{%- endif %}

echo "final config check..."
docker compose config --quiet
