# see: https://docs.linuxserver.io/images/docker-wireguard/#environment-variables-e

SERVERURL=
PEERS=

# Optional: Set DNS for clients (if using Pi-hole, set this to the Pi-hole IP address to provide ad-blocking to VPN clients)
# PEERDNS=
